<head>

  <meta charset="utf-8" />
  <title> <%- page_title %> |  Master Tasks Manager </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- App favicon -->
  <link rel="shortcut icon" href="/assets/images/MTM-Icon.png">
  <%- HeaderCss %>

  <%- include ('../partials/head-css.ejs') %>

</head>

<body>

  <%- body%>

  <%- include ('../partials/vendor-scripts') %>
  <%- FooterJs %>
  <%- include ('../partials/footer') %>


</body>

</html>